
body {
    background-color: #f0f;
    animation-name: team_colors;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-duration: 0.3s;
}



h1 {
    font-size: 5rem;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 30%;
    right: 30%;
    left: 30%;
}

@keyframes team_colors {
    from {
        background-color: #f0f;
    }

    to {
        background-color: rgb(14, 180, 231);
    }