html {
  --textcolor: #d4ecfc;
}

body {
  margin: 0;
  background-color: black;
  color: var(--textcolor);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  line-height: 1;
  overflow: hidden;
}

.list {
  margin-top: 2%;
  padding: 0;
  list-style: none;
}

.list-items {
  position: relative;
  font-weight: bold;
  font-size: 9rem;
  margin: 0 auto;
  width: max-content;
  font-family: monospace;
  margin-bottom: 6%;
}

.list-items > .text-split {
  position: relative;
  display: flex;
  flex-direction: column;
  line-height: 1;
  transition: color 0ms 200ms;
}

.list-items:hover > .text-split {
  color: transparent;
  user-select: none;
  transition-delay: 0ms;
}

.list-items > .text-split::before,
.list-items > .text-split::after {
  position: absolute;
  content: attr(data-text);
  height: calc(0.5em);
  overflow: hidden;
  left: 0;
  right: 0;
  color: var(--textcolor);
  transition: color 200ms ease-in-out, transform 200ms ease-in-out;
  user-select: none;
}

.list-items:hover > .text-split::before,
.list-items:hover > .text-split::after {
  color: #f0f;
  transform: skew(15deg);
}

.list-items > .text-split::after {
  bottom: 0;
  display: flex;
  align-items: flex-end;
}

.list-items::before {
  position: absolute;
  content: "";
  width: 110%;
  left: -5%;
  top: calc(50% - 1px);
  height: 0.035em;
  transform: scale(0);
  background-color: rgb(93, 195, 253);
  border-radius: 40px;
  transition: transform 300ms ease-in-out;
  z-index: 10;
}

.list-items:hover::before {
  transform: scale(1);
}

.ned-right {
  position: absolute;
  left: 7%;
  top: 40%;
}

.ned-left {
  position: absolute;
  right: 7%;
  top: 40%;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 65%;
  z-index: -1;
}

@keyframes skew {
  100% {
    transform: skewX(15deg);
    color: white;
  }
}
